<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiVer" value="5.42" />
    <add key="AccessToken" value="" />
    <add key="UserId" value="" />
    <add key="Email" value="" />
    <add key="Scope" value="6274559" />
    <add key="AppId" value="3698024" />
    <add key="MyAppId" value="5203150" />
    <add key="IAppId" value="3140623" />
    <add key="InstAppId" value="3698024" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>